<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
  <body>
  <div class="container">
      <h1>Add An Employee</h1>
      <hr>
      <form action="/add_emp" method="post">
          {% csrf_token%}

          <label for="first_name">First Name</label><br>
          <input type="text" id="first_name"  name="first_name" value="{{ first_name }}"><br>

          <label for="last_name">Last Name</label><br>
          <input type="text" id="last_name" name="last_name" value="{{ last_name }}"><br>

          <label for="salary">Salary</label><br>
          <input type="number" id="salary" name="salary" value="{{ salary }}"><br>

          <label for="dept">Department</label><br>
          <input type="number" id="dept" name="dept" value="{{ dept }}"><br>

          <label for="role">Role</label><br>
          <input type="number" id="role" name="role" value="{{ role }}"><br>

          <label for="bonus">Bonus</label><br>
          <input type="number" id="bonus" name="bonus" value="{{ bonus }}"><br>

          <label for="phone">Phone Number</label><br>
          <input type="number" id="phone" name="phone" value="{{ phone }}"><br>
          <hr>

          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
          <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>